<!DOCTYPE HTML>
<html ng-app='jsonMusicAndBooksApp'>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Angular Json Unit Testing">
    <meta name="author" content="JP">
    <link rel="shortcut icon" href="../mainAssets/World.ico">
  	<title>Week 10 - Angualar Json</title>
  	<script src="../mainLibrary/jquery-1.8.3.min.js"></script>
  	<script src="../mainLibrary/angular.js"></script>
  	<script src='Source/JsonMusic.js'></script>
  	<script src='Source/JsonBooks.js'></script>
  	<script src='Source/JsonMusicAndBooksApp.js'></script>
  	<script src='Source/Panels.js'></script>
  	<link href="Style/index.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
  <div ng-controller='SearchController'>
  <div id='musicPanel'>         
    <span class="caption">Search all albums: </span> <input ng-model="searchMusic.$"> <br>
    <span class="caption">Search musician: </span> <input ng-model="searchMusic.musician"><br>
    <span class="caption">Search album: </span> <input ng-model="searchMusic.album"><br>
    
    Use exact match <input type="checkbox" ng-model="strict"><br>
    <hr/>
    <table class="searchObjResults">
      <tr><th>Musician</th><th>Album</th></tr>
      <tr ng-repeat="musician in albums | filter:searchMusic:strict">
        <td>{{musician.musician}}</td>
        <td>{{musician.album}}</td>
      </tr>
    </table>
     </div>
    	<div id='bookPanel'>  
		    
		    <span class="caption">Search all books: </span> <input ng-model="searchBooks.$"> <br>
		    <span class="caption">Search book: </span> <input ng-model="searchBooks.book"><br>
		    <span class="caption">Search author: </span> <input ng-model="searchBooks.author"><br>
		    
		    Use exact match <input type="checkbox" ng-model="strict"><br>
		    <hr/>
		    <table class="searchObjResults">
		      <tr><th>Book</th><th>Author</th></tr>
		      <tr ng-repeat="book in books | filter:searchBooks:strict">
		        <td>{{book.book}}</td>
		        <td>{{book.author}}</td>
		      </tr>
		    </table>
	    </div>
	    <section id="radios">
	    	<span>music <input type="radio" name="radioToggle" id="music" checked ="checked" /></span>
	    	<span>books <input type="radio" name="radioToggle" id="books"/></span>
    	</section>
    </div>
    
  </body>
</html>