<!DOCTYPE html>
<html ng-app="dogPlayer">
<head>
    <title>Doggy Game</title>
    <link rel="shortcut icon" href="Assets/doggy.ico">
    <link href="Style/index.css" rel="stylesheet" type="text/css" />    
    <script src="Library/angular.js"></script>
    <script src="Library/angular-resource.js"></script>
	<script src="Library/crafty.js"></script>	
	<script src="Source/GameCore/Actors.js"></script>
	<script src="Source/GameCore/Food.js"></script>
	<script src="Source/GameCore/Grid.js"></script>	
	<script src="Source/GameCore/Player.js"></script>
	<script src="Source/GameCore/Scenes/LoadSprites.js"></script>
	<script src="Source/GameCore/Scenes/GameScene.js"></script>
	<script src="Source/GameCore/Scenes/VictoryScene.js"></script>
	<script src="Source/GameCore/Scenes/DefeatScene.js"></script>
	<script src="Source/GameCore/Enemy.js"></script>
	<script src="Source/Entities/Entities.js"></script>
	<script src="Source/Entities/HeroData.js"></script>
	<script src="Source/Entities/Species.js"></script>
	<script src="Source/GameBoards.js"></script>
	<script src="Source/DogGame.js"></script>
	<script src="Source/DogPlayer.js"></script>	
	<script src="Source/GameWrapper.js"></script>		      
</head>
<body>
    <div id="gameBoard">
        
    </div>
    
    <div id="textDisplay" ng-controller="DogController">
        <h1>Doggy Game</h1>
        <p>{{name}}</p>        
        <p>{{eventNote}}</p>
        <p>{{encounterMessage}}</p>
        <p>Move Messages</p>
        <select size=3 ng-model="messageDisplay" ng-options="msg for msg in moveMessages"> </select><br>
        <p>Debug Messages</p>
        	<select size=3 ng-model="messageBar" ng-options="message for message in debugMessages"> </select><br>              
    </div>
</body>
</html>