<!DOCTYPE html>
<html ng-app="dogPlayer">
<head>
    <title>Doggy Game</title>
    <link rel="shortcut icon" href="Assets/doggy.ico">
    <link href="index.css" rel="stylesheet" type="text/css" />    
    <script src="../mainLibrary/angular.js"></script>
    <script src="../mainLibrary/angular-resource.js"></script>
	<script src="Library/crafty.js"></script>	
	<script src="Source/GameCore/Actors.js"></script>
	<script src="Source/GameCore/Grid.js"></script>	
	<script src="Source/GameCore/Player.js"></script>
	<script src="Source/GameCore/Scenes.js"></script>
	<script src="Source/GameCore/Village.js"></script>
	<script src="Source/GameWrapper.js"></script>
	<script src="Source/Entities/Entities.js"></script>
	<script src="Source/Entities/EntityData.js"></script>
	<script src="Source/Entities/Species.js"></script>
	<script src="Source/DogGame.js"></script>
	<script src="Source/DogPlayer.js"></script>	
			      
</head>
<body>
    <div id="gameBoard">
        
    </div>
    
    <div id="textDisplay" ng-controller="DogController">
        <p>Doggy Game</p>
        <p>{{name}}</p>        
        <p>{{eventNote}}</p>
        <p>{{encounterMessage}}</p>
        <p>Move Messages</p>
        <select size=3 ng-model="crazyFoo" ng-options="msg for msg in moveMessages"> </select><br>
        <p>Debug Messages</p>
        	<select size=3 ng-model="crazyBar" ng-options="message for message in debugMessages"> </select><br>              
    </div>
</body>
</html>